# Copier vers .env et remplir les vraies valeurs.

MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=

DOCUMENSO_DB_PASSWORD=

# Generation : openssl rand -hex 32
DOCUMENSO_NEXTAUTH_SECRET=
DOCUMENSO_ENCRYPTION_KEY=
DOCUMENSO_ENCRYPTION_SECONDARY_KEY=

DOCUMENSO_SIGNING_PASSPHRASE=

# Mailjet
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=
